@charset "utf-8";
/* CSS Document */

*{
  margin:0 auto;
  padding:0;
}

body{
	text-align:center;
	background:#fff;
	}
img{
	border:none;
	}
.dtop{
	width:100%;
	height:410px;
	background:url(../img/l1.jpg) repeat-x;
	}
.dtop .dtotal{
	width:1000px;
	height:410px;
	}
.dtop .dtotal .dttop{
	width:1000px;
	height:94px;
	}
.dtop .dtotal .dttop .dtleft{
	width:522px;
	height:94px;
	float:left;
	}
.dtop .dtotal .dttop .dtright{
	width:227px;
	height:44px;
	float:right;
	margin-top:30px;
	}
	
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
/* nav_menu */
.nav_menu{height:43px;width:1000px;background:url(../img/l4.jpg) repeat-x;}
.nav{width:1000px;height:41px;position:relative;margin:0 auto;}
#navfouce{
	list-style-type:none;
	float:left;
	}
.nav .list li{float:left;}

.nav .list a{float:left;display:block;width:90px;height:43px;text-align:center;font:13px/36px "微软雅黑";color:#fff; text-decoration:none;}
.nav .list a:hover{color:#FFA304; text-decoration:none;}
.nav .list a:hover,.nav .list .now{color:#333;background:#fff;}
.nav .list ul.dsec{
	list-style-type:none;
	float:right;
	margin-right:5px;	
	}
.nav .list ul.dsec li{float:left;}

.nav .list ul.dsec li a{float:left;display:block;width:90px;height:42px;text-align:center;font:13px/36px "微软雅黑";color:#fff; text-decoration:none;}
.nav .list ul.dsec li a:hover{color:#FFA304; text-decoration:none;}
.nav .list ul.dsec li a:hover,.nav .list .now{color:#007fc6;}
.nav .box{position:absolute;left:0px;top:43px;width:1000px;background:#FFF;overflow:hidden;filter:alpha(opacity=0);opacity:0;z-index:106;}
.nav .cont{position:relative;padding:25px 0 0px 24px;}

.nav .cont .cleft1{
	width:150px;
	height:100px;
	float:left;
	text-align:left;
	}
.nav .cont .cleft1 ul{list-style-type:none;}
.nav .cont .cleft1 ul li{line-height:20px;}

.nav .cont .cleft1 ul li.dnet a{
	font-size:12px;
	font-weight:bold;
	color:#666;
	text-decoration:none;
	}
.nav .cont .cleft1 ul li.dnet a:hover{
	font-size:12px;
	font-weight:bold;
	color:#F60;
	text-decoration:none;
	}
.nav .cont .cleft1 ul li a{
	font-size:12px;
	color:#666;
	text-decoration:none;
	}
.nav .cont .cleft1 ul li a:hover{
	font-size:12px;
	color:#F60;
	text-decoration:none;
	}
/*banner*/

.focus {
	
	width: 1000px;
	height: 236px;
	overflow: hidden;
	position: relative;
}
.f-img-list {
	width: 1000px;
	height: 236px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	list-style-type:none;
}
.f-img-list li {
	width: 1000px;
	height: 236px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 101;
}
.f-img-list li.on {
	z-index: 105;
}
/*dact*/
.dact{
	width:1000px;
	height:34px;
	background:url(../img/l10.jpg);
	}
.dact .dact1{
	width:500px;
	height:24px;
	float:left;	
	margin-left:100px;	
	margin-top:5px;
	}
.dact .dact1 h1{
	text-align:left;
	color:#666;
	line-height:35px;
	font-weight:normal;	
	font-size:12px;
	}
.dact .dact2{
	width:190px;
	height:34px;
	float:right;
}
.dact .dact2 ul{
	width:200px;
	height:34px;
	list-style-type:none;	
	}
.dact .dact2 ul li{
	float:left;	
	width:90px;
	height:34px;
	line-height:30px;
	}
.dact .dact2 ul li a{
	
    color:#333;
	font-size:12px;
	text-decoration:none;
	}
.dact .dact2 ul li a:hover{
	
    color:#333;
	font-size:12px;
	text-decoration:none;
	}
/*dmiddle1*/
/*.dmiddle1{
	width:1000px;
	height:129px;
	
	background:url(../img/l11.jpg);
	margin-top:5px;
	}
.dmiddle1 .dmleft1{
	width:330px;
	height:129px;
	float:left;
	}
.dmiddle1 .dmleft1 .dmleft11{
	width:66px;
	height:129px;
	float:left;
	margin-left:30px;
	}
.dmiddle1 .dmleft1 .dmleft11 img{
	margin-top:20px;
	}
.dmiddle1 .dmleft1 .dmleft12{
	width:180px;
	height:129px;
	float:left;
	margin-left:30px;
	}
.dmiddle1 .dmleft1 .dmleft12 h1{
	font-size:14px;
	color:#033769;
	font-weight:bold;
	text-align:left;
	margin-top:25px;
	}
.dmiddle1 .dmleft1 .dmleft12 h1 a{
	font-size:14px;
	color:#033769;
	font-weight:bold;
	text-decoration:none;
	
	}
.dmiddle1 .dmleft1 .dmleft12 h1 a:hover{
	font-size:14px;
	color:#033769;
	font-weight:bold;
	text-decoration:none;
	}
.dmiddle1 .dmleft1 .dmleft12 h2{
	font-size:12px;
	color:#81817f;
	text-align:left;
	font-weight:300;
	line-height:20px;
	}
.dmiddle1 .dmleft1 .dmleft12 h2 a{
	font-size:12px;
	color:#81817f;
	
	text-decoration:none;
	}
.dmiddle1 .dmleft1 .dmleft12 h2 a:hover{
	font-size:12px;
	color:#81817f;
	
	text-decoration:none;
	}
/*dmiddle1 is over*/
/*dmiddle2 is start*/
/*.dmiddle2{
	width:1000px;
	height:227px;	
	}
.dmiddle2 .dm2left1{
	width:470px;
	height:227px;
	float:left;
	margin-left:10px;
	}
.dmiddle2 .dm2left1 h1{
	color:#033669;
	font-size:12px;
	text-align:left;
	margin-top:20px;
	margin-bottom:10px;	
	}
.dmiddle2 .dm2left1 img{
	border:1px solid #ccc;
	margin-top:10px;
	margin-right:10px;	
	float:left;
	}
.dmiddle2 .dm2left1 a:hover img{	
	display:block;
	background:url(../img/l24.gif) no-repeat;
    filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;	
	}
.dmiddle2 .dm2left2{
	width:512px;
	height:227px;
	float:right;
	background:url(../img/l25.jpg) no-repeat;
	}
.dmiddle2 .dm2left2 .dm2left21{
	width:240px;
	height:227px;
	float:left;
	margin-left:10px;
	}
.dmiddle2 .dm2left2 .dm2left21 h1{
	font-size:12px;
	text-align:left;
	color:#1c416d;
	margin-top:20px;
	margin-left:5px;
	}
.dmiddle2 .dm2left2 .dm2left21 h1 span{
	font-size:14px;
	color:#ff9500;
	}
.dmiddle2 .dm2left2 .dm2left21 span{
	font-size:12px;
	color:#666;
	}
.dmiddle2 .dm2left2 .dm2left21 h2{
	font-size:12px;
	text-align:left;
	color:#666;
	font-weight:normal;
	margin-top:15px;
	margin-left:5px;
	}
.dmiddle2 .dm2left2 .dm2left22{
	width:240px;
	height:227px;
	float:right;	
	}
.dmiddle2 .dm2left2 .dm2left22 h1{
	color:#666;
	font-size:14px;
	text-align:left;
	font-weight:normal;
	line-height:25px;
	margin-top:30px;
	margin-right:5px;
	
	}
.dmiddle2 .dm2left2 .dm2left22 h1 span{
	color:#ff9500;
	font-weight:bold;
	}
/*dmiddle2 is over*/

/*dmiddle2 is start*/
/*.dmiddle3{
	width:1000px;
	height:257px;
	background:url(../img/l28.jpg) no-repeat;
	margin-top:5px;
	}
.dmiddle3 .dm3left1{
	width:245px;
	height:257px;
	float:left;
	}
.dmiddle3 .dm3left1 h1{
	text-align:right;
	margin-top:18px;
	margin-right:10px;
	}
.dmiddle3 .dm3left1 ul{
	text-align:left;
	list-style-type:none;
	float:left;
	margin-left:20px;
	margin-top:5px;
	}
.dmiddle3 .dm3left1 ul li{
	line-height:25px;
	}
.dmiddle3 .dm3left1 ul li a{
	font-size:12px;
	color:#666;
	text-decoration:none;
	}
.dmiddle3 .dm3left1 ul li a:hover{
	font-size:12px;
	color:#ff9500;
	text-decoration:none;
	}
/*dmiddle3 is over*/
/*dmiddle4 is start*/
/*中间部分*/
.content{
		border:solid #FFF 1px;
		height:700px;
		width:1000px;}
.content .ttop{
	    margin-top:5px;
	    color:#03C;
		font-size:14px;
		float:left;
		}
		.ddtop{
			border:#CCC solid 1px;
			height:0px;
			width:1000px;
			margin-top:25px;
			}
.nav12{
	margin-top:20px;
	height:80px;
	width:1000px;
	}
	.nav12 ul{
		list-style:none;
		margin-left:28px;
		}
		.nav12 ul li{
			float:left;
			line-height:30px;
			width:105px;
			background:url(../img/a1.jpg) no-repeat;
			}
			.nav12 ul li a{
				color:#F90;
				font-size:12px;
				text-decoration:none;
				}
				.nav12 ul li:hover{
					background:url(../img/a3.jpg) no-repeat;
					}
.atop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:40px;
	}
.atop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.atop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.atop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}
.btop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:350px;
	margin-top:-170px;
	}
.btop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.btop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.btop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}
.ctop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:650px;
	margin-top:-170px;
	}
.ctop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.ctop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.ctop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}
.etop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:40px;
	margin-top:80px;
	}
.etop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.etop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.etop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}
.ftop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:350px;
	margin-top:-170px;
	}
.ftop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.ftop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.ftop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}
.gtop{
	border:#CCC solid 1px;
	height:170px;
	width:270px;
	margin-left:650px;
	margin-top:-170px;
	}
.gtop img{
	margin-top:5px;
	height:160px;
	width:260px;
	margin-left:-0px;
	}
	.gtop h4{
		margin-left:0px;
		margin-top:10px;
		color:#C90;
		}
		.gtop p{
			margin-left:0px;
			font-size:12px;
			margin-top:6px;}


/*中间部分结束*/
.dmiddle4{
	width:1000px;
	height:146px;
	margin-top:5px;
	border-bottom:1px solid #e1ecf2;
	}
.dmiddle4 .dm4left1{
	width:190px;
	height:146px;
	float:left;
	}
.dmiddle4 .dm4left1 h1{
	font-size:12px;
	color:#525252;
	text-align:left;
	margin-left:80px;
	margin-bottom:5px;
	}
.dmiddle4 .dm4left1 ul{
	list-style-type:none;
	float:left;
	text-align:left;
	margin-left:80px;
	}
.dmiddle4 .dm4left1 ul li{
	line-height:20px;
	color:#999;
	font-size:12px;
	}
.dmiddle4 .dm4left1 ul li span{
	line-height:20px;
	color:#004c94;
	font-size:12px;
	}
.dmiddle4 .dm4left1 ul li a{
	color:#999;
	font-size:12px;
	text-decoration:none;
	}
.dmiddle4 .dm4left1 ul li a:hover{
	color:#333;
	font-size:12px;
	text-decoration:none;
	}
/*dmiddle4 is over*/
/*dmiddle5 is start*/
.dmiddle5{
	width:100%;
	height:47px;
	background:url(../img/l34.jpg) repeat-x;
	}
.dmiddle5 .dmiddle51{
	width:1000px; 
	height:47px;
	}
.dmiddle5 .dmiddle51 h1{
	text-align:left;
	color:#999;
	font-size:12px;
	line-height:47px;
	font-weight:normal;
	}
.bottom{
	width:100%;
	height:76px;
	background:url(../img/l35.jpg) repeat-x;
	margin-top:2px;
	position:fixed;
	z-index:1000;	
	bottom:0px;
	}
.bottom .bottom1{
	width:1000px; 
	height:76px;
	}
.bottom .bottom1 .bottom11{
	width:384px; 
	height:62px;
	float:left;
	margin-top:10px;
	}
.bottom .bottom1 .bottom12{
	width:76px;
	height:60px;
	float:left;
	margin-left:300px;
	margin-top:10px;
	}
.bottom .bottom1 .bottom13{
	width:226px;
	height:65px;
	float:right;
	}
/*right*/
.mt10 {
	margin-top: 10px;
}
.mr10 {
	margin-right: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.serviceleft {
	cursor: pointer;
	right:0;;
	position: fixed;
	top:100px;
	width: 100px;
	
}
.si_serviceleft {
	position:relative;
}
.si_serviceleft1, .si_serviceleft2 {
	position:absolute;
	right:-1px;
}
.si_serviceleft1 {
	height:115px;
	width:35px;
	background:url(../images/si_serviceleft3.png) no-repeat;
	display:none;
}
.si_serviceleft .si_serviceleft2 {
}
.si_serviceleft .si_serviceleft2 ul {
	background:url(../img/l40.png) no-repeat;
	width:79px;
	padding:100px 0 5px 0;
}
.si_serviceleft2 ul li {
	display:block;
	text-indent:-9999px;
	background:url(../img/l41.png) no-repeat;
	text-align:center;
	width:79px;
}
.si_serviceleft2 ul li a {
	color:#fff;
	display:block;
	width:78px;
}
.si_serviceleft2 .si_serviceleftLI1 {
	background-position:0px -2px;
	;
}
.si_serviceleft2 .si_serviceleftLI2 {
	background-position:0px -75px;
	margin:3px 0;
}
.si_serviceleft2 .si_serviceleftLast {
	background-position:0px -162px;
}
.si_serviceleft2 .si_serviceleftLI1, .si_serviceleft2 .si_serviceleftLI1 a {
	height:67px;
}
.si_serviceleft2 .si_serviceleftLI2, .si_serviceleft2 .si_serviceleftLI2 a {
	height:86px;
	margin:3px 0;
}
.si_serviceleft2 .si_serviceleftLast, .si_serviceleft2 .si_serviceleftLast a {
	height:74px;
}
.si_serviceleft2 img {
	margin-left:58px;
	display:block;
}
.si_serviceleftLast {
	position:relative;
	z-index:100;
}
.si_serviceleftLast div {
	position:absolute;
	left:-235px;
	top:-90px;
	display:none
}
.si_serviceleftLI2 {
	position:relative;
	z-index:100;
}
.si_serviceleftLI2 div {
	position:absolute;
	left:-235px;
	top:-90px;
	display:none
}
.qixia {
	float:right;
	margin: 5px 10px 0 0;
	font-size:14px;
}
.qixia a {
	color:#D8442A;
}
